:root {
  --red: #DB0000;
  --dark-red: #831010;
  --black: #000000;
  --white: #FFFFFF;
  --grey: #564D4D;
}

html, body, #root, .App {
  height: 100% !important;
  width: 100% !important;
  background-color: var(--black);
  font-family: 'Bebas Neue', cursive;
}

.bg-black {
  background-color: var(--black);
}

.bg-white {
  background-color: var(--white);
}

.white {
  color: var(--white);
}

.cursor-pointer {
  cursor: pointer;
}

.user-avatar {
  width: 120px;
  height: 120px;
}

.input-grey {
  background-color: var(--grey);
  color: var(--white);
  border: var(--black) 1px solid;
  outline: 0;
}

.transparent-button {
  border: none;
  background-color: transparent;
  color: var(--grey);
}

.black-button {
  border: var(--grey) 1px solid;
  background-color: transparent;
  color: var(--grey);
}

.white-button {
  border: none;
  background-color: var(--white);
  color: var(--black);
}