:root {
  --red: #DB0000;
  --dark-red: #831010;
  --black: #000000;
  --white: #FFFFFF;
  --grey: #564D4D;
  --billboard-height: 500px;
}

html, body, #root, .App {
  height: 100% !important;
  width: 100% !important;
  background-color: var(--black);
  overflow-x: hidden;
  font-family: 'Bebas Neue', cursive;
}

button {
  transition: 500ms;
}

button:disabled {
  opacity: 0.8;
}

.bg-black {
  background-color: var(--black);
}

.bg-white {
  background-color: var(--white);
}

.white {
  color: var(--white);
}

.cursor-pointer {
  cursor: pointer;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-x: auto;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.carousel-movie {
  transition: 500ms;
  z-index: 102;
}

.carousel-movie:hover {
  transform: scale(1.5);
  z-index: 103;
}

.input-grey {
  background-color: var(--grey);
  color: var(--white);
  border: var(--black) 1px solid;
  outline: 0;
}

.transparent-button {
  border: none;
  background-color: transparent;
  color: var(--grey);
}

.black-button {
  border: var(--grey) 1px solid;
  background-color: transparent;
  color: var(--grey);
}

.white-button {
  border: none;
  background-color: var(--white);
  color: var(--black);
}

.red-hover:hover {
  background-color: var(--red);
  color: var(--white);
}

.user-avatar {
  width: 120px;
  height: 120px;
}

.billboard-container {
  position: relative;
}

.billboard {
  width: 100%;
  height: var(--billboard-height);
  object-fit: contain;
  z-index: 100;
}

.billboard-background-blur {
  position: absolute;
  width: 100%;
  height: var(--billboard-height);
  object-fit: cover;
  filter: blur(5px);
  z-index: 99;
}

.billboard-info {
  position: absolute;
  z-index: 101;
}